body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #09641e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.addCntr {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addCntr .taskInfo {
  width: 700px;
  padding: 36px 67px 43px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ffffff;
}

.addCntr .taskInfo__headCntr {
  width: 100%;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
}

.addCntr
  .taskInfo__headCntr__head {
  font-family: "Lato-Bold";
  font-size: 1.5rem;
  line-height: normal;
  color: #999999;
}

.addCntr .taskInfo__text {
  width: 100%;
  margin-bottom: 6px;
  display: block;
  font-family: "Lato-Bold";
  font-size: 1.125rem;
  line-height: normal;
  color: rgba(67, 176, 92, 0.5);
}

.taskInfo__input {
  width: 100%;
  margin-bottom: 17px;
  box-sizing: border-box;
  border: none;
  border-bottom: solid 2px #979797;
  outline: none;
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Lato-Regular";
}

.addCntr .taskInfo .addDateTime {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.addCntr .taskInfo .addDateTime__add {
  width: 48%;
}

.addCntr .taskInfo .footer {
  width: 100%;
  display: flex;
}

.addCntr .taskInfo .footer .radio {
  width: calc(100% - 141px);
  display: flex;
  align-items: center;
}

.addCntr .taskInfo .footer .saveBtn {
  width: 141px;
  height: 51px;
  background-color: #43b05c;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.addCntr
  .taskInfo
  .footer
  .saveBtn__text {
  font-family: "Lato-Bold";
  font-size: 1.125rem;
  line-height: normal;
  color: #ffffff;
}
